.box{
    width: 1192px;
    margin:0 auto;
}

#btn{
    width:40px;
    height:40px;
    background:url("back2top.jpg") no-repeat 0 0;
    display:none;
    position:fixed;
    left:50%;
    bottom:30px;
    margin-left:610px;
}
#btn:hover{
    background:url("back2top.jpg") no-repeat 0 -40px;
}